@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font: "Libre Baskerville", serif;
  --font-normal: 400;
  --font-heavy: 700;
  --dark: rgb(41, 14, 34);
  --light: #ded40e;
}
body {
  font-family: var(--font);
  background-color: blanchedalmond;
  color: var(--dark);
}
a {
  text-decoration: none;
}
.hero {
  background-image: url(../images/backgorund_image.jpg);
  height: 20em;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  background-color: var(--light);
  color: var(--dark);
  padding: 0.3em 0.2em 0.3em 3em;
}
nav {
  padding-right: 8%;
}
nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 2em;
}
nav a {
  color: inherit;
}
main {
  padding: 0.8em 1.5em 0 4em;
}
main h2 {
  text-align: right;
  color: inherit;
  font-family: inherit;
  border-right: 3px solid var(--dark);
  width: 100px;
  padding-right: 2em;
}

section {
  display: flex;
  height: auto;
}
.about-me_content {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

#contact-me li {
  list-style-type: none;
}
